* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  font-family: "Cairo", sans-serif;
}

.container header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px #ff8f00 solid;
}

.container a {
  color: #ff8f00;
  font-size: 4rem;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
  transition: 0.8s;
}

.container a:hover {
  transform: scale(0.8);
}

.container .checking {
  padding: 15px;
  text-transform: capitalize;
  border-radius: 15%;
  color: white;
  background: #ff8f00;
  font-size: 1.7rem;
  outline: none;
  border: none;
}

.container .checking:hover {
  color: #ff8f00;
  background: white;
  border: 1px #ff8f00 solid;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.form1 {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  flex-direction: column;
}

.result {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
  font-family: "Dancing Script";
  text-transform: capitalize;
}

.texting {
  width: 50%;
  margin: 0 auto 20px auto;
  display: block;
  border: 1px #ff8f00 solid;
  color: #ffb300;
  font-size: 1.5rem;
  padding: 20px;
  text-decoration: none;
}

.texting:hover {
  border: 1px #ff8f00 solid;
}

.btn-new {
  width: 50%;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: 15px 0;
  background: #ff9800;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: 0.4s;
  transform-style: preserve-3d;
  perspective: 800px;
}

.btn-new::after {
  content: "";
  position: absolute;
  background: #ffb74d;
  transition: 0.4s;
}

.btn1:hover {
  transform: rotateX(-20deg);
}

.btn1:after {
  width: 100%;
  height: 24px;
  top: -24px;
  left: 0;
  transform-origin: 0 100%;
  transform: rotateX(90deg);
}

.btn-text {
  display: block;
  height: 100%;
  position: relative;
  top: 0;
  transition: top 0.6s;
  width: 100%;
}

.btn:hover .btn-text {
  top: -100%;
}

/* media queries */
@media screen and (max-width: 900px) {
  .container a {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .container a {
    font-size: 2rem;
  }

  .container .checking {
    font-size: 1rem;
    padding: 13px;
  }
}

@media screen and (max-width: 452px) {
  .container header {
    height: 7rem;
  }

  .container a {
    font-size: 1.5rem;
  }

  .container .checking {
    font-size: 0.8rem;
    padding: 10px;
  }

  .texting {
    height: 400px;
  }
}

@media screen and (max-width: 452px) {
  .container a {
    font-size: 1.5rem;
  }

  .container .checking {
    font-size: 0.8rem;
    padding: 10px;
  }

  .texting {
    height: 300px;
  }
}
